.landing-button{
    margin-top:200px;
}

.checkboxes-form{
    margin-left:50px;
}

.input-field{
    width:50%
}

.add-quiz-button{
    margin-top: 60px;
}

.choises-input{
    margin-left:50px;
}

.admin-quiz-tittle:hover{
    color:grey
}

.btn-small{
    margin-left:12px;
    padding:0 6px;
    height:30px;

}